@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive; /* Retro pixelated font */
  background-color: #2c3e50; /* Dark background for contrast */
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #34495e; /* Retro blue shade */
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Rounded corners for a soft look */
}

.info,
.track-info {
  margin-bottom: 20px;
  font-size: 0.8em; /* Smaller font for the retro look */
  color: #f1c40f; /* Bright color for visibility */
}

.buttons,
.player-controls,
.role-selection {
  margin-bottom: 20px;
}

.btn,
.control-btn {
  font-family: "Press Start 2P", cursive;
  background-color: #e74c3c; /* Vibrant red color */
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 0.6em; /* Smaller font to match the theme */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover,
.control-btn:hover {
  background-color: #c0392b; /* Darker shade on hover */
  transform: scale(1.05); /* Slight increase in size on hover */
}

.role-selection label {
  color: #2ecc71; /* Retro green for labels */
  font-size: 0.8em;
}

input[type="radio"] {
  margin-right: 5px;
}

/* ... Existing styles ... */

.toggle-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Center the label */
    background-color: #3498db; /* Default color */
    border-radius: 20px;
    padding: 8px 20px; /* Adjusted for visual balance */
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-switch:hover {
    background-color: #2980b9; /* Darker shade on hover */
  }
  
  .toggle-switch.active {
    background-color: #2ecc71; /* Active state color */
  }
  
  .toggle-label {
    color: white;
    font-size: 0.8em;
  }
  
  .room-id-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .room-id-input {
    font-family: 'Press Start 2P', cursive;
    padding: 8px;
    font-size: 0.8em;
    margin-right: 10px;
    border: 2px solid #3498db; /* Matching the retro blue */
    background-color: #2c3e50;
    color: white;
    border-radius: 4px;
    outline: none;
  }
  
  .room-id-input::placeholder {
    color: #7f8c8d;
  }
  
  .join-btn {
    background-color: #e67e22; /* Retro orange for the join button */
  }
  
  .join-btn:hover {
    background-color: #d35400; /* Darker shade on hover */
  }
  